In [1]:
#Imports
import numpy as np
import pandas as pd
import ast
import re
import matplotlib.pyplot as plt
import seaborn as sns
import os
import math
import random

In [12]:
df_megaset = pd.read_csv('../data/megaset.csv')

In [13]:
df_megaset.head()

,Name,Year,Languages,Countries,Genres,Tropes,Budget,domestic_gross,domestic_percentage,foreign_gross,foreign_percentage,worldwide_gross
0,,1916.0,"silent film, hungarian",hungary,"silent film, drama",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,!women art revolution,2010.0,english,"united states of america, canada","lgbt, history, documentary",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#1 cheerleader camp,2010.0,NaN,united states of america,"sports, sex comedy, comedy film, comedy, teen",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,#alive,2020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,#horror,2015.0,NaN,NaN,NaN,NaN,1500000.0,NaN,NaN,NaN,NaN,NaN

In [14]:
print(f"The length of the megaset is {len(df_megaset)}")

The length of the megaset is 87071

In [15]:
df_copy = df_megaset.copy(deep=True)
df_copy = df_copy.dropna(subset=['Name', 'Year'])
print(f"Length after dropping nan countries {len(df_copy)}")

Length after dropping nan countries 80123

In [16]:
df_copy = df_copy.drop(['Languages', 'Countries', 'Tropes', 'domestic_percentage', 'foreign_percentage'], axis=1)

In [17]:
df_copy.head()

,Name,Year,Genres,Budget,domestic_gross,foreign_gross,worldwide_gross
0,,1916.0,"silent film, drama",NaN,NaN,NaN,NaN
1,!women art revolution,2010.0,"lgbt, history, documentary",NaN,NaN,NaN,NaN
2,#1 cheerleader camp,2010.0,"sports, sex comedy, comedy film, comedy, teen",NaN,NaN,NaN,NaN
3,#alive,2020.0,NaN,NaN,NaN,NaN,NaN
4,#horror,2015.0,NaN,1500000.0,NaN,NaN,NaN

In [18]:
df_to_scrape = df_copy[df_copy.isnull().any(axis=1)]
print(f"The amount of movies to scrape is {len(df_to_scrape)}")

The amount of movies to scrape is 77727

In [16]:
df_to_scrape.to_csv('MEGASET_movies_to_scrape.csv', index=False)

In [28]:
# Creating the batches
num_of_batches = 16
batch_size = round(len(df_to_scrape)/num_of_batches)
for i in range(num_of_batches):
    start = batch_size*i+1
    end = start + batch_size
    if (i == num_of_batches - 1):
         batch = df_to_scrape.iloc[start:, :]
    elif(i == 0):
        batch = df_to_scrape.iloc[0:batch_size, :]
    else:
        batch = df_to_scrape.iloc[start:end, :]
    s = 'batch/megaset-batch-' + str(i+1) + '.csv'
    batch.to_csv(s, index=False)

In [19]:
clean_movies = df_copy.dropna()
print(f"The amount of movies to scrape is {len(clean_movies)}")

The amount of movies to scrape is 2396

In [20]:
clean_movies.to_csv('MEGASET_movies_to_scrape_SMALL.csv', index=False)