In [20]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [29]:
df_wiki_to_scrape = pd.read_csv('wiki2.csv')

In [30]:
df_wiki_to_scrape.head()

,Name,Year,Languages,Countries,Genres,Budget,domestic_gross,domestic_percentage,foreign_gross,foreign_percentage,worldwide_gross
0,10 cloverfield lane,2016,english,united states,"drama, horror, sci-fi, thriller",5000000,72082999,0.654010,38134000,0.345990,110216999
1,12 monkeys,1995,english,united states,"mystery, sci-fi, thriller",29000000,57141459,0.338437,111698000,0.661563,168839459
2,12 strong,2018,english,united states,"action, drama, history, war",35000000,45819713,0.644274,25298665,0.355726,71118378
3,12 years a slave,2013,NaN,NaN,"biography, drama, history",20000000,56671993,0.301875,131061209,0.698125,187733202
4,13 hours,2016,NaN,NaN,"action, drama, history, thriller, war",50000000,52853219,0.761449,16558151,0.238551,69411370

In [33]:
print(f"Before dropping nans {len(df_wiki_to_scrape)}")
df_wiki_to_scrape = df_wiki_to_scrape.dropna()
print(f"After dropping nans {len(df_wiki_to_scrape)}")

Before dropping nans 1263
After dropping nans 456

In [34]:
df_wiki_to_scrape['Languages'].value_counts()

Languages
english                           405
hindi                               6
englishspanish                      5
japanese                            4
englishfrench                       2
mandarin                            2
english  spanish                    2
english russian                     2
hindi[1]                            2
telugutamil                         2
urdupunjabi                         1
englishgerman                       1
\nenglish\nhindi\n                  1
silent filmenglish intertitles      1
american sign languageenglish       1
englishluganda                      1
englisharamaic                      1
englishturkish                      1
hindienglish[4]                     1
englishhindi                        1
vietnamese english                  1
english[3]                          1
mandarin[1]englishhindi             1
englishchinesejapanese              1
\nenglish\n                         1
koreanenglish                       1
albanianenglishfrenchspanish        1
frenchenglish                       1
english, spanish                    1
englishhindipunjabi                 1
english[a]                          1
englishgermanrussian                1
englishamerican sign language       1
mandarin english                    1
Name: count, dtype: int64

In [36]:
df_wiki_to_scrape.to_csv('wiki_extracted.csv')